<h1>Let's make a new list, shall we?</h1>

<form action="<%= board_lists_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="list_title">List Title:</label>
	<input type="text" name="list[title]" id="list_title">

  <input type="submit" value="Make a list">
</form>