<form class="form">
  <div class="form-group">
    <label for="title">New Card:</label>
    <input type="text" id="title" name="card[title]">
  <input type="submit" value="Make that Card!" class="btn btn-primary">
  </div>
</form>