<form class="form">
  <div class="form-group">
    <label for="title"></label>
    <input type="text" id="title" name="card[title]">
  <input type="submit" value="Create!" class="btn btn-primary">
  </div>
</form>