<div class="panel panel-default">
  <div class="panel-body panel-card">
    Card: <%= card.escape('title') %>

    <button type="button" class="delete-card">
      <span class="glyphicon glyphicon-trash"></span>
    </button>

  </div>
</div>