<div class="create-new-board">
  New Board!
</div>
<form class="form new-board-form">
  <div class="form-group">
    <label for="title">Board Title:</label>
    <input type="text" class="title" name="board[title]">
  </div>
  <input type="submit" value="Create a board!" class="btn btn-primary">
</form>
