<h1>Your Boards</h1>

<div class="boards">
  <% boards.forEach(function (board) { %>
    <div class="board-index-container">
      <a href="#boards/<%= board.id %>">
          <div class="index-board"><%= board.escape('title') %></div>
      </a>
    </div>
  <% }) %>
  <div class="board-index-container">
    <div class="board-form"></div>
  </div>
</div>