<div class="container-login">
  <h1>Sign Up</h1>

  <form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Username<br>
      <input name="user[email]" type="text"><br>
    </label><br>
    <label>Password<br>
      <input name="user[password]" type="password"><br>
    </label><br>
    <input type="submit" value="Submit" class="btn btn-primary"><br>
  </form>
  
  <br>
  <%= link_to "Already have an account?", new_session_url %>

  <form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="user[email]" value="asdfasdf"><br>
      <input type="hidden" name="user[password]" value="asdfasdf"><br>
    <input type="submit" value="Guest User" class="btn btn-primary"><br>
  </form>
</div>