<h1>Let's make a new card, shall we?</h1>

<form action="<%= list_cards_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

	<label for="card_title">Card Title:</label>
	<input type="text" name="card[title]" id="card_title">

  <input type="submit" value="Make a card">
</form>