/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 #= require bootstrap
 */

@import "font-awesome";

#content {
  padding-top: 50px;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

.container-login {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #4e5d6c;
  width: 30%;
  margin: 0 auto;
  position: relative;
}

#outer-list {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.list-container {
  border: 1px solid white;
  background: grey;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  float: left;
  display: inline-block;
  position: relative;
}

#inner-list {
  width: 5000px;
}

#add-a-card {
  color: blue;
}

.panel-card {
  background: #30E3FF;
  border-radius: 15px;
}

.delete-card {
  border-radius: 10px;
  float: right;
  border: thin white solid;
}

.delete-card:hover {
  background: red;
}

.delete-card {
  visibility: hidden;
}