/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 #= require bootstrap
 */

@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lobster);


#content {
  padding-top: 50px;
  margin-left: 50px;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
  display: block;
}

.container-login {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #4e5d6c;
  width: 30%;
  margin: 0 auto;
  position: relative;
}

.outer-list {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.list-container {
  border: 1px solid white;
  background: #A1A1A1;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
  float: left;
  display: inline-block;
  position: relative;
}

.list-container {
  cursor: move;
}

.inner-list {
  width: 5000px;
}

.add-a-card {
  color: #F2E101;
  margin-left: 10px;
  margin-bottom: 30px;
  display: inline-block;
}

.add-a-card:hover {
  color: #F24B7C;
}

.panel-card {
  background: white;
  border-radius: 15px;
  color: black;
  font-size: 22px;
  font-weight: 500;
}

.panel-card:hover {
  background: #E0E0E0;
  cursor: pointer;
}


.delete-card {
  border-radius: 10px;
  float: right;
  border: thin white solid;
}

.delete-card:hover {
  background: red;
}

.delete-card {
  visibility: hidden;
}

.delete-list {
  visibility: hidden;
  float: right;
  border-radius: 10px;
  border: thin white solid;
}

.delete-list:hover {
  background: red;
}

.card-form {
  margin-left: 10px;
}

.btn-primary {
  margin-left: 10px;
}

.new-list-form {
  display: none;
}

.new-list-title {
  border-radius: 5px;
  border: thin white solid;
}

.new-list-title:hover {
  background: #007699;
  cursor: pointer;
}

.list-form-container {
  margin-top: 10px;
  width: 300px;
  display: inline-block;
  text-align: center;
}

.board-index-container {
  border-radius: 20px;
  margin: 10px;
  border: thin white solid;
  width: 300px;
  height: 150px;
  display: inline-block;
  text-align: center;
  color: white;
}

.board-index-container:hover {
  background: #007699;
}

.index-board {
  color: white;
  font-size: 36px;
  line-height: 150px;
  text-align: center;
}

.create-new-board {
  color: white;
  font-size: 36px;
  line-height: 150px;
  text-align: center;
  cursor: pointer;
}

.boards {

  width: 60%;
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.board-form {
  /*text-align: center;*/
  /*padding-top: 50px;*/
  /*display: inline-block;*/
  /*color: white;*/
  /*font-size: 36px;*/
  /*line-height: 150px;*/
}

.new-board-form {
  padding-top: 25px;
  color: white;
  /*font-size: 36px;*/
  /*line-height: 150px;*/
  text-align: center;
}

.navbar-logo{
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  width: 100%;
  font-size: 36px;
  font-family: 'Lobster';
  z-index: -1;
}

.the-boards-index {
  width: 98%;
  /*position: absolute;*/
  text-align: center;
}

.delete-board {
  padding: 10px;
  border-radius: 10px;
  border: thin white solid;
}

.delete-board:hover {
  background: red;
}