<div class="new-list-title">
  <h3>Add a list...</h3>
</div>
<form class="form new-list-form">
  <div class="form-group">
    <label for="title">List Title:</label>
    <input type="text" id="title" name="list[title]">
  </div>
  <input type="submit" value="Make that list!" class="btn btn-primary">
</form>