<h1>THE LIST FORM GOES HERE!</h1>

<form class="form">
  <div class="form-group">
    <label for="title">List Title:</label>
    <input type="text" id="title" name="list[title]">
  </div>
  <input type="submit" value="Make that list!" class="btn btn-primary">
</form>